
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
<h1>Solicitações de Reservas</h1>
<script>

    function getStatus(a) {
        var t;
        switch (a) {
            case 1:
                t = "Pendente";
                break;
            case 2:
                t = "Aceita";
                break;
            case 3:
                t = "Recusada";
                break;
            default:
                t = "Pendente";
                break;
        }

        return t;
    }

    function getDia(a) {
        var dia;
        switch (a) {
            case 1:
                dia = "Domingo";
                break;
            case 2:
                dia = "Segunda-Feira";
                break;
            case 3:
                dia = "Terça-Feira";
                break;
            case 4:
                dia = "Quarta-Feira";
                break;
            case 5:
                dia = "Quinta-Feira";
                break;
            case 6:
                dia = "Sexta-Feira";
                break;
            case 7:
                dia = "Sabado";
                break;
            default:
                dia = "Erro"
                break;
        }
        return dia;
    }


    function getTurno(b) {
        var turno;

        switch (b) {
            case 1:
                turno = "Manha";
                break;
            case 2:
                turno = "Tarde";
                break;
            case 3:
                turno = "Noite";
                break;
        }

        return turno;
    }

</script>

<hr />
<div class="row">

    @foreach (var p in ViewBag.Solictacoes)
    {

        <div class="panel panel-default">
            <div class="panel-heading">Solicitação de Reserva : @p.nomeProfessor @p.sobrenomeProfessor  [Status: <script>document.write(getStatus(@p.Status));</script> ]</div>
            <div class="panel-body">
                Solicitação de reserva do professor @p.nomeProfessor @p.sobrenomeProfessor para o @p.nomeTurma @p.nomeCurso no @p.nomeSala.
                No
                <script>document.write(getDia(@p.Dia));</script>
                <script>document.write(getTurno(@p.Turno ));</script>  @p.Bloco ºBloco.
            </div>
            <div class="panel-footer"><a class="btn btn-danger" href="/Admin/RecusarSol?id=@p.idSolicitacao">Recusar</a> <a class="btn btn-success" href="/Admin/AceitarSol?id=@p.idSolicitacao">Aceitar</a></div>
        </div>
    }


</div>
