
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manager Turma";
}

<h1>Turmas</h1>

<button class="btn btn-default" style="position: absolute; margin-top: -3%; right: 10px;" data-toggle="modal" data-target="#AddTurma"><i class="fa fa-plus" aria-hidden="true"></i> Turmas</button>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in ViewBag.ListaTurma)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.Nome</td>
                    <td>@e.Curso.Nome</td>
                    <td>
                        <div>
                            <a class="btn btn-danger" href="/Turma/Delete?id=@e.Id">
                                DELETE
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="AddTurma" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Turma</h4>
            </div>
            <form action="/Turma/Create" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="Nome" />
                    </div>
                     <div class="form-group">
                         <label>Curso</label>
                         <select class="form-control" name="Curso">
                             @foreach (var p in ViewBag.ListaCurso)
                             {
                                <option value="@p.Id">@p.Nome</option>
                             } 
                         </select>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->