
@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reservas</h1>

<button class="btn btn-default" style="position: absolute; margin-top: -3%; right: 10px;"data-toggle="modal" data-target="#AddReserva"><i class="fa fa-plus" aria-hidden="true"></i> Reserva</button>

<script>
    function getDia(a) {
        var dia;
        switch (a){
            case 1:
                dia = "Domingo";
                break;
            case 2:
                dia = "Segunda-Feira";
                break;
            case 3:
                dia = "Terça-Feira";
                break;
            case 4:
                dia = "Quarta-Feira";
                break;
            case 5:
                dia = "Quinta-Feira";
                break;
            case 6:
                dia = "Sexta-Feira";
                break;
            case 7:
                dia = "Sabado";
                break;
            default:
                dia = "Erro"
                break;
        }
        return dia;
    }


    function getTurno(b) {
        var turno;
        
        switch (b) {
            case 1:
                turno = "Manha";
                break;
            case 2:
                turno = "Tarde";
                break;
            case 3:
                turno = "Noite";
                break;
        }

        return turno;
    }
</script>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dia</th>
                <th>Turno</th>
                <th>Bloco</th>
                <th>Sala</th>
                <th>Reservado por:</th>
                <th>Professor</th>
                <th>Turma</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in ViewBag.Reservas)
            {
                <tr>
                    <td>@p.Id</td>
                    <td><script>document.write(getDia(@p.Data));</script></td>
                    <td><script>document.write(getTurno(@p.Turno));</script></td>
                    <td>@p.Bloco ºBloco</td>
                    <td>@p.Sala.Nome</td>
                    <td>@p.Admin.Nome</td>
                    <td>@p.Professor.Nome</td>
                    <td>@p.Turma.Nome @p.Turma.Curso.Nome</td>
                    <td>
                        <div>
                            <a class="btn btn-danger" href="/Reservas/Delete?id=@p.Id">
                                DELETE
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<div class="modal fade" id="AddReserva" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Fazer Reserva</h4>
            </div>
            <form action="/Reservas/Create" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label>DIA DA SEMANA</label>
                        <select class="form-control" name="dia">
                            <option value="1">Domingo</option>
                            <option value="2">Segunda-Feira</option>
                            <option value="3">Terça-Feira</option>
                            <option value="4">Quarta-Feira</option>
                            <option value="5">Quinta-Feira</option>
                            <option value="6">Sexta-Feira</option>
                            <option value="7">Sabado</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Turno</label>
                        <select class="form-control" name="turno">
                            <option value="1">Manha</option>
                            <option value="2">Tarde</option>
                            <option value="3">Noite</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Bloco</label>
                        <select class="form-control" name="bloco">
                            <option value="1">1ºBloco</option>
                            <option value="2">2ºBloco</option>
                            <option value="3">3ºBloco</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Sala</label>
                        <select class="form-control" name="sala">
                            @foreach (var p in ViewBag.Salas)
                            {
                                <option value="@p.Id">@p.Nome</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Professor</label>
                        <select class="form-control" name="professor">
                            @foreach (var p in ViewBag.Professores)
                            {
                                <option value="@p.Id">@p.Nome @p.Sobrenome</option>
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Turma</label>
                        <select class="form-control" name="turma">
                            @foreach (var p in ViewBag.Turmas)
                            {
                                <option value="@p.Id">@p.Nome @p.Curso.Nome</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->